<div class="row title"><h3>Connection Suggestions</h3></div>
<div class="row" ng-if="resultsByDestinationCity.length == 0">No results available.</div>
<div class="row" ng-repeat="result in resultsByDestinationCity" id="row_{{ result._id }}">
	<div style="float: left">
		<img src="img/avatar-placeholder.png" ng-if="!result.picture" style="width: 50px; height: 50px; margin-right: 5px" />
		<img ng-src="pictures/{{ result.picture }}" ng-if="result.picture!==undefined && result.picture.indexOf('https://') == -1" style="width: 50px; height: 50px; margin-right: 5px" />
		<img ng-src="{{ result.picture }}" ng-if="result.picture!==undefined && result.picture.indexOf('https://') == 0" style="width: 50px; height: 50px; margin-right: 5px" />
	</div>
	
	<span style="float: right">{{ result.age }}</span>
	<span style="float: left"><a href="#/profile/{{ result._id }}">{{ result.firstname }} {{ result.lastname }}</a></span><br />
	
	<span style="float: right">{{ result.destinationcity }} - {{ result.destinationcountry }} <i class="fa fa-plane" aria-hidden="true"></i></span>
	<i class="fa fa-home" aria-hidden="true"></i> <span>{{ result.origincountry }} - {{ result.origincity }}</span><br />
	
	<div style="text-align: center; padding: 5px; clear: both">
		<button type="button" class="btn btn-info btn-xs" id="send_{{ result._id }}" ng-click="sendRequest(result._id)"><i class="fa fa-plus-circle" aria-hidden="true"></i> Send Request</button>
		<button type="button" class="btn btn-success btn-xs" id="success_{{ result._id }}" style="display: none"><span></span></button>
	</div>
	<div style="width: 70%; margin: auto; text-align: center"><div class="alert alert-danger row" id="error_{{ result._id }}" style="display: none"><span></span></div></div>
</div>